{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package   local_gradesync
    @copyright 2020 Michael Vangelovski <michael.vangelovski@hotmail.com>
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template local_gradesync/map

    Gradesync Map template.
}}

<div id="local_gradesync-map-root" class="loading">
    <div class="classes">
        {{#has_multiple_classes}}
            <h5>{{#str}} map:assessmentclasses, local_gradesync, {{config.extsystem}} {{/str}}</h5>
            <div class="loader-group">
                <select id="assessment-class">
                    <option value="-1"></option>
                    {{#classes}}
                        <option value="{{.}}">{{.}}</option>
                    {{/classes}}
                </select>
                <div class="spinner"><div class="circle spin"></div></div>
            </div>
        {{/has_multiple_classes}}
        {{^has_multiple_classes}}
            <input id="assessment-class" type="hidden" value="{{#classes}}{{.}}{{/classes}}" />
        {{/has_multiple_classes}}
    </div>
    <div class="mappings-wrap">
        <div class="mappings">
            {{!<hr>}}
            <h5>{{#str}} map:mappingtitle, local_gradesync {{/str}}</h5>
            <div class="systems">
                <div class="system" style="{{config.extsystemcss}}">{{config.extsystem}}</div>
                <div class="system" style="{{config.moodlecss}}">{{sitename}}</div>
            </div>
            <div class="assessments">
                {{#assessments}}
                    {{>local_gradesync/assessment}}
                {{/assessments}}
            </div>
        </div>
        {{#has_groups}}
            {{!<hr>}}
            <div class="overrides">
                <h5>{{#str}} map:overrides, local_gradesync {{/str}}</h5>
                <div class="loader-group">
                    <select id="override-group">
                        <option value="-1"></option>
                        {{#groups}}
                            <option value="{{id}}">{{name}}</option>
                        {{/groups}}
                    </select>
                    <div class="spinner"><div class="circle spin"></div></div>
                </div>
                <div class="mappings">
                    <div class="systems">
                        <div class="system" style="{{config.extsystemcss}}">{{config.extsystem}}</div>
                        <div class="system" style="{{config.moodlecss}}">{{sitename}}</div>
                    </div>
                    {{#groups}}
                        <div class="assessments group-assessments">
                            {{#assessments}}
                                {{>local_gradesync/assessment_override}}
                            {{/assessments}}
                        </div>
                    {{/groups}}
                </div>
            </div>
        {{/has_groups}}
    </div>
</div>